.border-radious-right-0{
  border-top-right-radius:0!important;
  border-bottom-right-radius:0!important;
}
.border-radious-left-0{
  border-top-left-radius:0!important;
  border-bottom-left-radius: 0!important;
}
.border-radious-0{
  -webkit-border-radius:0!important;
  -moz-border-radius:0!important;
  border-radius:0!important;
}
.inliner{
  display: inline;
}
.nopadding{
  padding: 0 !important;;
}
.mrgn-bt0{
  margin-bottom: 0 !important;
}
.custom-button{
  width:10%;
  border-radius: 0;
}
.panel-default{
  border-color:#222222
}
.panel-group .panel+.panel{
  margin-top: 0;
  border-top:0;
}