.border-radious-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.border-radious-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.border-radious-0 {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.inliner {
  display: inline; }

.nopadding {
  padding: 0 !important; }

.mrgn-bt0 {
  margin-bottom: 0 !important; }

.custom-button {
  width: 10%;
  border-radius: 0; }

.panel-default {
  border-color: #222222; }

.panel-group .panel + .panel {
  margin-top: 0;
  border-top: 0; }

/*# sourceMappingURL=index.css.map */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(eot/IRANSansWeb_Bold.eot);
    src: url(eot/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'), url(woff2/IRANSansWeb_Bold.woff2) format('woff2'), url(woff/IRANSansWeb_Bold.woff) format('woff'), url(ttf/IRANSansWeb_Bold.ttf) format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(eot/IRANSansWeb_Medium.eot);
    src: url(eot/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'), url(woff2/IRANSansWeb_Medium.woff2) format('woff2'), url(woff/IRANSansWeb_Medium.woff) format('woff'), url(ttf/IRANSansWeb_Medium.ttf) format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(eot/IRANSansWeb_Light.eot);
    src: url(eot/IRANSansWeb_Light.eot?#iefix) format('embedded-opentype'), url(woff2/IRANSansWeb_Light.woff2) format('woff2'), url(woff/IRANSansWeb_Light.woff) format('woff'), url(ttf/IRANSansWeb_Light.ttf) format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(eot/IRANSansWeb_UltraLight.eot);
    src: url(eot/IRANSansWeb_UltraLight.eot?#iefix) format('embedded-opentype'), url(woff2/IRANSansWeb_UltraLight.woff2) format('woff2'), url(woff/IRANSansWeb_UltraLight.woff) format('woff'), url(ttf/IRANSansWeb_UltraLight.ttf) format('truetype')
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(eot/IRANSansWeb.eot);
    src: url(eot/IRANSansWeb.eot?#iefix) format('embedded-opentype'), url(woff2/IRANSansWeb.woff2) format('woff2'), url(woff/IRANSansWeb.woff) format('woff'), url(ttf/IRANSansWeb.ttf) format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype')
}

.fanum {
    font-family: FaNum, sans-serif !important
}

.popover-content, .popover-title, .tooltip, .tooltip-inner, body, tspan {
    font-family: IRANSans, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif
}

.tooltip, .tooltip-inner {
    font-size: 14px
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype')
}

.fanum {
    font-family: FaNum, sans-serif !important
}

.popover-content, .popover-title, .tooltip, .tooltip-inner, body, tspan {
    font-family: IRANSans, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif
}

.tooltip, .tooltip-inner {
    font-size: 14px
}
@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype')
}

@font-face {
    font-family: FaNum;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype')
}

.fanum {
    font-family: FaNum, sans-serif !important
}

.popover-content, .popover-title, .tooltip, .tooltip-inner, body, tspan {
    font-family: IRANSans, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif
}

.tooltip, .tooltip-inner {
    font-size: 14px
}