.catfeature__demo-button{
    background-color: #b9b9b9;
}
.catfeature__demo-button:hover{
    background-color: #ffcc00;
}
.catfeature__demo-button.current{
    background-color: #ffcc00;
}
.catfeature__demo-submit{
    margin-right: 30px !important;
    white-space: nowrap !important;
    color: #000000 !important;
    background-color: #ffe26a !important;
    line-height: 1.5em !important;
    margin-top: 0 !important;
    padding: 7px 20px !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 2px !important;
    text-decoration: none !important;
}
.catfeature__demo-submit:hover{
    background-color: #ffc900 !important;
}