.keywords_demo_section {
  direction: rtl;
  margin-bottom: 70px;
}
.keywords_demo_title {
  text-align: center;
  font-weight: 700;
  color: #333333;
}
.keywords_demo_subtitle {
  font-size: 1.7rem;
  letter-spacing: 0px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 30px;
}
.keywords_demo_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.keywords_demo_submit {
  background-color: #ffc907;
  padding: 6px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0 !important;
}

.keywords_demo_container {
  direction: rtl;
  display: none;
  color: #333333;
  margin-top: 30px;
  padding: 20px 30px;
  background: #ffc907
    url('https://www.yektanet.com/wp-content/uploads/2019/01/retargeting-mahsol-11.png?id=2473') !important;
}
.keywords_demo_container h2 {
  font-size: 20px !important;
  font-weight: 700;
  text-align: center;
}
.keywords_demo_container .keywords_title {
  font-size: 21px !important;
  margin-bottom: 20px !important;
  font-weight: 700;
}
.keywords_demo_container .keywords_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.keywords_demo_container .keywords_list li {
  font-size: 14px !important;
  padding: 6px;
  margin-left: 5px;
  margin-bottom: 5px !important;
  background-color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.keywords_demo_container .keywords_list li:hover {
  background-color: #eee4c2;
}
.keywords_demo_container .keywords_demo_url_form {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 6px;
}
.keywords_demo_container .keywords_demo_url_input {
  direction: ltr;
  width: 260px;
  padding: 6px 12px;
}
.keywords_demo_container .keywords_demo_url_state {
  margin-right: 5px;
}
.keywords_demo_container .keywords_demo_url_submit {
  padding: 6px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0 !important;
  color: #fff !important;
  background-color: #585252 !important;
}
.keywords_demo_container .keywords_demo_url_submit:hover {
  color: #fff !important;
  background-color: #585252 !important;
  opacity: 0.7;
}
.keywords_demo_container .urls_list {
  direction: ltr;
  padding: 20px 30px;
  background-color: #fff;
}

.keywords_demo_container .urls_list .url_result {
  font-family: Roboto, arial, sans-serif;
  line-height: 1.2;
  text-align: left;
  width: 600px;
  margin-top: 0;
  margin-bottom: 28px;
}

.keywords_demo_container .urls_list .url_result a {
  color: #1a0dab !important;
}
.keywords_demo_container .urls_list .url_result a:hover h3 {
  text-decoration-line: underline !important;
}
.keywords_demo_container .urls_list .url_result a:visited {
  color: #609;
}
.keywords_demo_container .urls_list .url_result h3 {
  font-family: Roboto, arial, sans-serif;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  padding: 4px 0 0 0;
  margin: 0 0 3px 0;
  color: inherit;
}

.keywords_demo_container .urls_list .url_result p {
  line-height: 1.58;
  max-width: 48em;
  color: #4d5156;
  text-align: left;
  font-weight: normal;
  margin: 0;
}

.bootstrap-tagsinput input {
  width: auto !important;
}

.keywords_demo_tooltip {
  position: relative;
  display: inline-block;
}

.keywords_demo_tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.keywords_demo_tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.keywords_demo_tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
